{% extends 'registration/accounts_base.html' %}
 
{% block title %}Registration{% endblock %}
 
{% block content %}
    {% if info %}
        <p class="info">{{info}}</p>
    {% elif warning %}
        <p class="warning">{{warning}}</p>
    {% endif %}
    <div class="form_div">
        <h2>Registration</h2>
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_p }}
            </table>
            <button class="button" type="submit">Send</button>
        </form>
        <br>
        <p>Already have account? Then <a href="{% url 'login' %}">login</a></p>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#id_username').keyup(function () {
                // create an AJAX call
                $.ajax({
                    data: $(this).serialize(), // get the username value
                    url: "{% url 'validate_username' %}",
                    // on success
                    success: function (response) {
                        if (response.is_valid == true) {
                            $('#id_username').removeClass('is_invalid').addClass('is_valid');
                            $('#usernameError').remove();
                        }
                        else {
                            if ($("#usernameError").length<=0) {
                                $('#id_username').after('<div class="invalid-feedback d-block" id="usernameError">This username is not available!</div>');
                            }
                            $('#id_username').removeClass('is_valid').addClass('is_invalid');
                        }
                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                        console.log(response.responseJSON.errors)
                    }
                });

                return false;
            });

            $('#id_email').keyup(function () {
                // create an AJAX call
                $.ajax({
                    data: $(this).serialize(), // get the email value
                    url: "{% url 'validate_email' %}",
                    // on success
                    success: function (response) {
                        if (response.is_valid == true) {
                            $('#id_email').removeClass('is_invalid').addClass('is_valid');
                            $('#emailError').remove();
                            }
                        else {
                            $('#id_email').removeClass('is_valid').addClass('is_invalid');
                            $('#id_email').after('<div class="invalid-feedback d-block" id="emailError">This email is not available!</div>')
                        }

                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                        console.log(response.responseJSON.errors)
                    }
                });

                return false;
            });
        })
    </script>
    {% endblock javascript %}