/* <Left Menu> */
html {
    font-family: YanoneKaffeesatz;
}
.left_menu {
    width: 300px;
    height: 100vh;
    background-color: #6e0323;
    position: fixed;
    z-index: 2;
    margin-left: -300px;
    transition: 0.7s linear;
}
.left_menu.pop_up_menu {
    z-index: 5;
}
.left_menu a { text-decoration: none; }

/* <Task Titles> */
.group, .left_menu p {
    margin: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: 0.7s linear;
    font-size: 20px;
}
.group {
    background-color: rgb(102, 161, 161);
    border-radius: 10px;
    box-shadow: 0.4em 0.4em 5px rgba(55, 111, 107, 0.8);
    cursor: pointer;
}
.group:hover { background-color: rgb(239, 98, 95); }
.control_button {
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 6;
    left: 60px;
    margin-left: 5px;
    margin-right: 5px;
}
.edit_button { left: 75px; }
.remove_button { left: 70px; }
/* </Task Titles> */
/* </Left Menu> */


/* <Left Min Menu> */
.left_min_menu {
    width: 50px;
    height: 100vh;
    background-color: #480323;
    display: block;
    position: fixed;
    z-index: 10;
}

/* <Menu Item> */
.menu_item_container { perspective: 1000; }
.menu_item_container.flip .menu_item { transform: rotateY(180deg); }
.front, .back {
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.menu_item {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}
.front { z-index: 2; }
.back {
    transform: rotateY(-180deg);
    z-index: 1;
}
.back img {
    position: relative;
    width: 100%;
    height: 100%;
}
.menu_item_element {
    height: 6px;
    margin-bottom: 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    z-index: 3;
}
/* </Menu Item> */
/* </Left Min Menu> */

/* <Content> */
.expander {
    width: 25px;
    height: 25px;
    margin: auto;
    cursor: pointer;
    display: inline-flex;
    transition: transform 0.6s ease;
    opacity: 0.5;
}
.expander:hover {
    opacity: 1;
}
.expander .triangle {
    width: 80%;
    height: 80%;
    margin: 10%;
    transition: transform 0.6s ease;
    transform: rotate(90deg);
}
.group_list, .drop_down_list {
    display: table;
    transition: all 0.6s ease;
    transform: translateY(0px, 10px);
    opacity: 1;
}
a {
    text-decoration: none;
    color: rgb(0,0,0);
}
.list_elem {
    border-bottom-color: rgb(180, 180, 180);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    height: 70px;
}
.literal {
    color: rgb(255, 255, 255);
    font-size: 40px;
    width: 44px;
    height: 40px;
    text-align: center;
    margin-top: 4px;
}
.group_elem:hover {
    background-color: rgb(230, 230, 230);
}
.plus_group .group_icon {
    border-style: dotted;
    border-width: 3px;
    border-color: rgb(180, 180, 180);
}
.group_icon {
    height: 44px;
    width: 44px;
    border-radius: 10%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 13px;
}
.group_icon .vert_div {
    background-color: rgb(180, 180, 180);
    width: 8px;
    height: 34px;
    margin: 0px;
    left: 19px;
    top: -2px;
    position: relative;
}

.group_icon .horiz_div {
    background-color: rgb(180, 180, 180);
    height: 8px;
    width: 34px;
    margin: 0px;
    top: 19px;
    position: relative;
}
.elem_title {
    font-size: 22px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    width: 500px;
}

.elem_menu img {
    height: 30px;
    width: 30px;
    opacity: 0.5;
    padding: 7px;
    margin: 13px;
    border-radius: 10%;
}
.group_menu img:hover {
    background-color: rgb(190, 190, 190);
}
.invisible.group_list {
    transform: translateY(0px, -40px);
    opacity: 0;
}
.invisible {
    display: none;
}
body {
    margin: 0px;
    display: flex;
}
.expander.rotated {
    transform: rotate(-90deg);
}
.note {
    color: rgb(210, 210, 210);
    font-size: 22px;
    display: block;
    margin-left: 35px;
}
.expander_wrapper {
    max-width: 650px;
    min-width: min-content;
}
.title {
    color: #480323;
    font-size: 30px;
    text-align: left;
    padding-left: 10px;
    margin: 0px;
    display: inline;
}
.list_title {
    color: rgb(255, 255, 255);
    font-size: 25px;
}
#content_wrapper {
    height: 100vh;
    margin-left: 50px;
}
a.link {
    text-decoration: underline;
    font-size: 20px;
}
a.link img {
    height: 20px;
    width: 20px;
}
.content {
    padding: 20px 45px 45px 45px;
    border-radius: 20px;
    transition: 0.7s linear;
    margin: 0px;
    font-size: 35px;
}
.content .body {
    color: rgb(105, 116, 113);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    font-size: 20px;
}

/* <Slider> */
.task_item {
    transition: all 0.6s ease;
    height: 150px;
    width: 150px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.plus {
    margin: 30px;
    width: 90px;
    height: 90px;
}
.add_group {
    margin: auto;
    text-align: center;
    position: inherit;
    width: 120px;
}
.add_group .vert_div {
    left: 56px;
}
.add_group .horiz_div {
    left: 41px;
}
.vert_div, .horiz_div {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}
.vert_div {
    height: 38px;
    width: 8px;
    left: 21px;
    top: 6px;
}
.horiz_div {
    width: 38px;
    height: 8px;
    bottom: 17px;
    left: 6px;
}
/* </Add Button> */


/* <Header> */
.header {
    height: 50px;
    position: relative;
    text-align: right;
    border-bottom-color: #4b4b4b;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
#rightside_wrapper {
    display: flex;
    float: right;
    max-width: min-content;
}
#rightside_wrapper a .control_button {
    position: sticky;
    margin: 14px 14px 14px 0px;
    width: 22px;
    height: 22px;
}
/* </Header> */


/* <Other> */
.tooltip {
    z-index: 20;
    display: none;
    position: absolute;
    border-radius: 5px;
    opacity: 0.8;
    color: rgb(255, 255, 255);
    padding: 5px 10px 5px 10px;
    top: 0px;
    left: 0px;
    background-color: rgb(55, 111, 107);
    font-size: 12px;
    text-align: center;
}
/* </Other> */

.flex_div {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 20px;
}
.add_button {
    font-size: 25px;
}
.border_div {
    border-style: solid;
    border-color: darkgray;
    border-width: thin;
    padding: 15px;
}
.tasklist_title {
    font-size: 25px;
    height: 25px;
    padding: 7px;
    display: initial;
}

.tasklist_block {
    width: -webkit-fill-available;
}
#tasklists {
    margin-left: 20px;
    min-width: max-content;
    width: 50%;
    margin-right: 10px;
}
.drop_down_btn {
    background-color: #480323;
    color: white;
    padding: 5px;
    font-family: YanoneKaffeesatz;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.drop_down_menu {
    position: relative;
    display: inline-block;
}
.drop_down_menu_content {
    position: absolute;
    background-color: lightgrey;
    min-width: 20px;
    font-size: 20px;
    z-index: 1;
}
.drop_down_menu_content a {
    color: black;
    padding: 7px;
    text-decoration: none;
    display: block;
}
.drop_down_menu_content a:hover {background-color: white;}
.drop_down_menu:hover .drop_down_btn {opacity: 0.5;}
.task_block {
    height: 25px;
    font-size: 25px;
    display: inline;
}
.fa-square-o, .fa-check-square-o {
    cursor: pointer;
}
.task_expander {
    /*margin-left: 35px;*/
}
.subtask_block {
    margin-left: 50px;
    font-size: 20px;
    height: max-content;
}
.tasklist_title_wrapper {
    background-color: rgb(72,3,35);
    color: white;
    position: relative;
}

.tasklist_block_wrapper {
    background-color: #e2c6d3;
}
.description {
    font-size: 20px;
    color: #8c4566;
    padding: 5px;
    font-style: italic;
}
body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: #480323;
    border-radius: 20px;
}
body::-webkit-scrollbar-track {
    background-color: #e2c6d3;
}

textarea::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
textarea::-webkit-scrollbar-thumb {
    background-color: #480323;
    border-radius: 20px;
}
textarea::-webkit-scrollbar-track {
    background-color: #e2c6d3;
}
.fa-ellipsis-h {
    right: 10px;
    position: absolute;
    cursor: pointer;
}
.list_elem.task_block, .list_elem.subtask_block {
    border: none;
}

.task_form {
    border: thin solid rgb(72, 3, 35);
    background-color: #dfdfdf;
    font-size: 22px;
    height: min-content;
    padding: 3%;
    transition: 0.2s linear;
    margin-left: auto;
    margin-right: auto;
}
.task_form h2 {
    color: #480323;
}
.fa-star, .fa-trash-alt {
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
}
.fa, .fas {
    text-align: center;
    vertical-align: baseline;
}
.pointer {
    cursor: pointer;
}
.fa-angle-down {
    margin: auto;
    height: 25px;
    font-size: 25px;
}

.readiness {
    height: 5px;
    border: thin solid rgb(72, 3, 35);
}
.ready {
    height: 100%;
    background-color: red;
    width: 0%;
    transition: 0.5s linear;
}
.fa-ellipsis-h {
    font-size: 25px;
    position: absolute;
    top: 5px;
}
#task_creating_h {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
.form_as_table {
    padding: 10px;
    color: #480323;
}
.form_as_table table tbody tr th {
    text-align: -webkit-left;
}
/*.form_as_table p {
    justify-content: space-between;
    display: flex;
}*/
.form_as_table table tbody tr th label {
    /*height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    padding: 3px;*/
    font-weight: normal;
}
textarea {
    min-width: 150px;
    max-width: 373px;
    max-height: 100px;
    width: 177px;
}
.create_task_btn {
    cursor: pointer;
}
input:invalid {
  background-color: #ffc8cd;
}

/*input:valid, textarea:valid {
  background-color: #0fff83;
}*/
input {
    border-style: solid;
    border-width: thin;
}
.list_elem_wrapper {
    position: relative;
}
.list_elem_controls {

    width: max-content;
    right: 0px;
    position: absolute;
    top: 0px;
}
.task_block_wrapper {
    display: grid;
    grid-template-columns: 10% 90%;
    margin: auto 10px;
}
.button {
    display: block;
    margin: 20px auto;
}
.up_btn {
    position: fixed;
    z-index: 10;
    color: #480323;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
}
.fa-chevron-circle-up {
    font-size: 40px;
}
.tasklist_title[contenteditable="true"] {
    background-color: #d04284;
    height: max-content;
    padding: 5px;
    border-radius: 5px;
    border-style: ridge;
}