{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="control_panel">
        <a class="link" href="{% url 'list_group' %}"><img src="{% static "imgs/back.png" %}">&nbsp&nbspBack to Group list</a>
        <br><div class="flex_div border_div">
            <h1 class="title">{{ group.name }}</h1>
            <a href="{% url 'add_tasklist' group.id %}"><div class="add_button">Add</div></a>
        </div>
        <div class="memberships"></div>

    </div>
    <br>
    <div id="tasklists">
        {% for tasklist in tasklists %}
            <div class="expander_wrapper">
                <div class="expander">
                    <img class="triangle rotated" src="{% static "imgs/pointer.png" %}">
                </div>
                <a href="{% url 'detail_tasklist' group_pk=group.id tasklist_pk=tasklist.id %}">
                    <div class="tasklist_title">{{ tasklist.title }}</div>
                </a>
                <div class="tasklist_block drop_down_list">
    <!--                list_elem classes   -->
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock content %}
