{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="control_panel">
        <a class="link" href="{% url 'list_group' %}"><img src="{% static "imgs/back.png" %}">&nbsp&nbspBack to Group list</a>
        <br>
        <div class="flex_div border_div">
            <h1 class="title">{{ group.name }}</h1>

            <div class="drop_down_menu">
                <button class="drop_down_btn">Add</button>
                <div class="drop_down_menu_content invisible">
                    <a href="{% url 'add_tasklist' group.id %}">Tasklist</a>
                    <a href="#">Task</a>
                </div>
            </div>

<!--            <a href="{% url 'add_tasklist' group.id %}">-->
<!--                <div class="add_button drop_down_btn">Add</div>-->
<!--            </a>-->
        </div>
        <div class="memberships"></div>
    </div>

    <br>
    <div class="flex_div">
        <div id="tasklists">

            {% for tasklist in tasklists %}
                <div class="expander_wrapper">
                    <div class="tasklist_title_wrapper">
                        <div class="expander">
                            <img class="triangle rotated" src="{% static "imgs/pointer.png" %}">
                        </div>
                        <a href="{% url 'detail_tasklist' group_pk=group.id tasklist_pk=tasklist.id %}">
                            <div class="tasklist_title">{{ tasklist.title }}</div>
                        </a>
                        <i class="fa fa-ellipsis-h"></i>
                    </div>
                    <div class="tasklist_block_wrapper"">
                        <div class="tasklist_block drop_down_list" id="l{{tasklist.id}}">

                            {% for task in tasklist.tasks.all %}
                            <div class="expander_wrapper">
                                <div class="task_block_wrapper">
                                    <div class="expander task_expander rotated">
                                        <i class="fas fa-angle-down"></i>
                                    </div>
                                    <div class="list_elem task_block pointer flex_div">
                                        {% if task.is_completed %}
                                            <i class="fa fa-check-square-o task_marker" id="t{{task.id}}" aria-hidden="true"></i>
                                        {% else %}
                                            <i class="fa fa-square-o task_marker" id="t{{task.id}}" aria-hidden="true"></i>
                                        {% endif %}
                                        {{ task.title }}
                                    </div>
                                    {% if task.is_favorite %}
                                        <i class="fas fa-star"></i>
                                    {% else %}
                                        <i class="far fa-star"></i>
                                    {% endif %}
                                </div>
                                <!-- Subtask list -->
                                <div class="subtask_block drop_down_list invisible">
                                    {% for subtask in task.subtasks.all %}
                                        <div class="list_elem subtask_block pointer flex_div">
                                            {% if subtask.is_completed %}
                                                <i class="fa fa-check-square-o subtask_marker" id="s{{subtask.id}}" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fa fa-square-o subtask_marker" id="s{{subtask.id}}" aria-hidden="true"></i>
                                            {% endif %}
                                            {{ subtask.title }}
                                        </div>
                                    {% empty %}
                                        <div class="description">There are no subtasks yet</div>
                                    {% endfor %}
                                </div>

                            </div>
                            {% empty %}
                            <div class="description">There are no tasks yet</div>
                            {% endfor %}

                        </div>
                    </div>
                </div> <br>

            {% endfor %}
        </div>


        <div class="form_div task_form">
            <h2>Task creating</h2>
            <form id="create_form" method="post">
                {% csrf_token %}
                {{task_form.as_p}}
                <button class="button create_task" type="submit">Create</button>
            </form>
        </div>
    </div>

{% endblock content %}
{% block javascript %}
        $(document).ready(function () {

            // Change is_favorite status
            $('.fa-star').on('click', function() {
                var url = "{% url 'update_favorite_status' %}?task_pk=" + $(this).attr('id').substr(1); // get the task id value
            });

            // Call AJAX for creating task
            $("#create_form").submit(function(e) {
                e.preventDefault(); // avoid to execute the actual submit of the form.
                if(!e.isDefaultPrevented()){
                    e.returnValue = false;
            }
                var form = $(this);
                var url = "{% url 'add_task' group.id %}";  // URL
                console.log(url);
                $.ajax({
	                method: 'post',
                    data: $(this).serialize(),
                    url: url,
                    success: function(data)
                    {
                        insertTask(eval(data['new_task'])[0]);
                    }
                });
            });

            // If the user checks or unchecks the task completion marker
            $('.task_marker').on('click', function () {
                // create an AJAX call
                var task_marker = $(this);
                var id = $(this).attr('id').substr(1); // get the task id value
                var status = !$(this).hasClass('fa-check-square-o');
                $.ajax({
                    data: {status: status, csrfmiddlewaretoken: getCookie('csrftoken')},
                    url: "{% url 'update_task_status' %}?task_pk=" + id,         // URL
                    type: "POST",
                    // on success
                    success: function (response) {
                        if (response.is_successful == true) {
                            taskMarkerClicked(task_marker);
                        }
                        else {
                            // todo: show message about failure
                        }
                    }
                });
            });

            // If the user checks or unchecks the subtask completion marker
            $('.subtask_marker').on('click', function () {
                // create an AJAX call
                var subtask_marker = $(this);
                var id = subtask_marker.attr('id').substr(1); // get the task id value
                var status = !subtask_marker.hasClass('fa-check-square-o');
                $.ajax({
                    data: {status: status,csrfmiddlewaretoken: getCookie('csrftoken')},
                    url: "{% url 'update_subtask_status' %}?subtask_pk=" + id,         // URL
                    type: "POST",
                    // on success
                    success: function (response) {
                        if (response.is_successful == true) {
                            subtaskMarkerClicked(subtask_marker, response.is_task_toggled);
                        }
                        else {
                            // todo: show message about failure
                        }
                    }
                });
            });
        })
    {% endblock javascript %}