{% extends "base.html" %}
{% load static %}
{% block title %}Tasks Editor{% endblock title %}
{% block groups %}
    <h2 class="title">Your Groups</h2>
    <hr>
    <h3 class="list_title">Private groups</h3>
    {% if not private_groups %}
        <p>There is no any private groups</p>
    {% else %}
        {% for group in private_groups %}
            <a href="{% url 'group_chosen' group.id %}">
                <div class="group" id="{{group.id}}">
                    {{group.name}}
                    <img id="{{group.id}}" data-tooltip="Edit group" class="control_button edit_button" src="{% static "imgs/edit.png" %}" onclick="sendEdit(event)">
                    <img id="{{group.id}}" data-tooltip="Quit from the group" class="control_button remove_button" src="{% static "imgs/remove.png" %}" onclick="sendDelete(event)">
                </div>
            </a>
        {% endfor %}
    {% endif %}
    <a href="{% url 'add_group' 'pri' %}">
        <div class="add_button add_group" data-tooltip="Create private group">
            <div class="vert_div"></div>
            <div class="horiz_div"></div>
        </div>
    </a>
    <br>
    <hr>
    <h3 class="list_title">Public groups</h3>
    {% if not public_groups %}
        <p>There is no any public groups</p>
    {% else %}
        {% for group in public_groups %}
            <a href="{% url 'group_chosen' group.id %}">
                <div class="group" id="{{group.id}}">
                    {{group.name}}
                    <img id="{{group.id}}" data-tooltip="Edit group" class="control_button edit_button" src="{% static "imgs/edit.png" %}" onclick="sendEdit(event)">
                    <img id="{{group.id}}" data-tooltip="Quit from the group" class="control_button remove_button" src="{% static "imgs/remove.png" %}" onclick="sendDelete(event)">
                </div>
            </a>
        {% endfor %}
    {% endif %}
    <a href="{% url 'add_group' 'pub' %}">
        <div class="add_button add_group" data-tooltip="Create private group">
            <div class="vert_div"></div>
            <div class="horiz_div"></div>
        </div>
    </a>
{% endblock groups %}

{% block content %}
    {% if chosen_task %}
        <h1 class="title">{{chosen_task.title}}</h1>
        <p class="body">{{chosen_task.description}}</p>
    {% else %}

    {% endif %}
{% endblock content %}

{% block add_button %}
    {% if group_id %}
    <a href="{% url 'add_task' %}">
        <div class="add_button">
        </div>
    </a>
    {% endif %}
{% endblock add_button %}
